.login {
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
    display: grid;
    place-items: center;
    height: 100vh;
}


.login > button {
    background-color: orange;
}

.login > button:hover {
    background-color: purple;
}