.articleBox {
    width: 150px;
    height: 150px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 5px;
}

.articleBox > .articleBox__title > h2 {
    color: black;
}

.articleBox__title {
    background-color: white;
    position: relative;
    left: 5px;
    bottom: 5px;
    height: 150px;
    width: 150px;
    text-align: center;
    margin-bottom: 30px;
}
