.featured {
    background-color: black;
    margin-top: 80px;
}

.featured__text {
    margin-top: 30px;
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: px;
}

.featured__boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.featured__boxes__arrow {
    position: absolute;
    right: 20px;
    display: flex;
    height: 150px;
}

.featured__link {
    margin-top: 30px;
    color: white;
    text-align: center;
}